body {
  text-align: center;
}

ul {
  text-align: left;
}

#banner {
  max-width: 80%;
}

/* Navigation */
.navbar-text {
  font-size: 1.5rem;
  font-style: italic;
}

#map {
  text-align: center;
}

/* Services */
.carousel-inner {
  max-height: 400px;
}

.carousel-inner img {
  max-height: 400px;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.featurette-image.pull-right {
  margin-left: 40px;
}

.service-list {
  list-style-type: none;
  justify-content: center;
}

.services ul {
  display: flex;
  flex-wrap: wrap;
}

.services li {
  margin: 0 16px;
}

/* For small screens */
@media (max-width: 576px) {
  #banner {
    display: none;
  }
}

@media (max-width: 786px) {
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
